@use "../helpers/" as *;

.favourites {
  padding-bottom: fluid(120, 40);
  &__content {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;

    gap: rem(80) rem(40);

    @include tablet() {
      gap: fluid(80, 20) fluid(40, 10);
    }

    & .card {
      width: max-content;
    }
  }
}