body {
  font-family: "Gotham Pro";
  color: var(--clr-black);
  display: flex;
  flex-direction: column;
  position: static;
  overflow-x: hidden;
}

body:has(.modal-wrapper.active) {
  position: fixed;
  overflow-y: scroll;
}

main {
  flex-grow: 1;
}

